In [1]:
# data importing
import pandas as pd

df=pd.read_csv("../item_based/data_set/tmdb_5000_movies.csv")
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [3]:
df["genres"][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [4]:
# budget 
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
df["status"].value_counts()

status
Released           4795
Rumored               5
Post Production       3
Name: count, dtype: int64

In [6]:
df["vote_average"].max()

np.float64(10.0)

In [7]:
import json

In [8]:
def transform(x):
    convertedList=json.loads(x)
    return str([str(item["name"]).lower().replace(" ","") for item in convertedList]).replace("[","").replace("]","")

In [9]:
df["genres"]=df["genres"].apply(transform)

In [10]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"'action', 'adventure', 'fantasy', 'sciencefict...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"'adventure', 'fantasy', 'action'",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"'action', 'adventure', 'crime'",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"'action', 'crime', 'drama', 'thriller'",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"'action', 'adventure', 'sciencefiction'",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"'action', 'crime', 'thriller'",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"'comedy', 'romance'",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"'comedy', 'drama', 'romance', 'tvmovie'",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,,http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,'documentary',NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
temp=CountVectorizer()

(temp.fit_transform(df["genres"].to_list()))

<4803x20 sparse matrix of type '<class 'numpy.int64'>'
	with 12160 stored elements in Compressed Sparse Row format>

In [12]:
temp.get_feature_names_out()

array(['action', 'adventure', 'animation', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'foreign', 'history',
       'horror', 'music', 'mystery', 'romance', 'sciencefiction',
       'thriller', 'tvmovie', 'war', 'western'], dtype=object)

In [13]:
temp=pd.DataFrame(temp.fit_transform(df["genres"].to_list()).toarray(),columns=temp.get_feature_names_out())

In [14]:
temp

,action,adventure,animation,comedy,crime,documentary,drama,family,fantasy,foreign,history,horror,music,mystery,romance,sciencefiction,thriller,tvmovie,war,western
0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4799,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4800,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
4801,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4802,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
df=df.join(temp,how="outer",sort=False).drop(columns=["genres"])

In [16]:
df

,budget,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,...,history,horror,music,mystery,romance,sciencefiction,thriller,tvmovie,war,western
0,237000000,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,0,0,0,0,0,1,0,0,0,0
1,300000000,http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,0,0,0,0,0,0,0,0,0,0
2,245000000,http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",...,0,0,0,0,0,0,0,0,0,0
3,250000000,http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,0,0,0,0,0,0,1,0,0,0
4,260000000,http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",...,0,0,0,0,0,0,1,0,0,0
4799,9000,NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],...,0,0,0,0,1,0,0,0,0,0
4800,0,http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,0,0,0,0,1,0,0,1,0,0
4801,0,http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,0,0,0,0,0,0,0,0,0,0
4802,0,NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,0,0,0,0,0,0,0,0,0,0

In [64]:
df[df["romance"]==1]

,id,title,action,adventure,animation,comedy,crime,documentary,drama,family,...,history,horror,music,mystery,romance,sciencefiction,thriller,tvmovie,war,western
25,597,Titanic,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
49,64682,The Great Gatsby,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
50,9543,Prince of Persia: The Sands of Time,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81,102651,Maleficent,1,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
83,79698,The Lovers,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4781,255266,Dry Spell,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4784,24055,The Puffy Chair,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4786,44990,Breaking Upwards,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4799,72766,Newlyweds,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4800,231617,"Signed, Sealed, Delivered",0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0

In [18]:
df=df.drop(columns=["budget","homepage","keywords","original_language","original_title","overview","popularity","production_companies","production_countries","release_date",'revenue', 'runtime','spoken_languages', 'status', 'tagline','vote_average','vote_count'])

In [70]:
from sklearn.metrics.pairwise import cosine_similarity
df.head(26)

,id,title,action,adventure,animation,comedy,crime,documentary,drama,family,...,history,horror,music,mystery,romance,sciencefiction,thriller,tvmovie,war,western
0,19995,Avatar,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,285,Pirates of the Caribbean: At World's End,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,206647,Spectre,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,49026,The Dark Knight Rises,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,49529,John Carter,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,559,Spider-Man 3,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,38757,Tangled,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,99861,Avengers: Age of Ultron,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,767,Harry Potter and the Half-Blood Prince,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,209112,Batman v Superman: Dawn of Justice,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1452,Superman Returns,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11,10764,Quantum of Solace,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12,58,Pirates of the Caribbean: Dead Man's Chest,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,57201,The Lone Ranger,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,49521,Man of Steel,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,2454,The Chronicles of Narnia: Prince Caspian,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,24428,The Avengers,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,1865,Pirates of the Caribbean: On Stranger Tides,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,41154,Men in Black 3,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,122917,The Hobbit: The Battle of the Five Armies,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1930,The Amazing Spider-Man,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,20662,Robin Hood,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,57158,The Hobbit: The Desolation of Smaug,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2268,The Golden Compass,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,254,King Kong,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25,597,Titanic,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0

In [25]:
# cosine_similarity([df.loc[0].drop(["title","id"])],[df.loc[1].drop(["title","id"])])
# df.loc[0].drop("title")
df[df["id"]==19995]

,id,title,action,adventure,animation,comedy,crime,documentary,drama,family,...,history,horror,music,mystery,romance,sciencefiction,thriller,tvmovie,war,western
0,19995,Avatar,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [82]:
def recommadMovie(id):
    target=[df.loc[df["id"]==id].squeeze().drop(["title","id"])]
    # print((target))
    sampleSpace=df[df["id"]!=id]
    # print(sampleSpace)
    temp=[]
    for i,x in sampleSpace.iterrows():
        temp.append({"name":x["title"],"score":float(cosine_similarity(target,[x.drop(["title","id"])])[0][0])})
    
    print(sorted(temp,key=lambda x:x["score"],reverse=True)[:11])

In [83]:
recommadMovie(597)
# type(df.loc[df["id"]==597].squeeze())

[{'name': 'The Phantom of the Opera', 'score': 1.0000000000000002}, {'name': 'Fifty Shades of Grey', 'score': 1.0000000000000002}, {'name': 'Angel Eyes', 'score': 1.0000000000000002}, {'name': 'Fatal Attraction', 'score': 1.0000000000000002}, {'name': 'Cruel Intentions', 'score': 1.0000000000000002}, {'name': 'O', 'score': 1.0000000000000002}, {'name': 'My Summer of Love', 'score': 1.0000000000000002}, {'name': "Pandora's Box", 'score': 1.0000000000000002}, {'name': 'The Beach', 'score': 0.8660254037844388}, {'name': 'Mary Reilly', 'score': 0.8660254037844388}, {'name': 'The Next Three Days', 'score': 0.8660254037844388}]